body {
    background-color:darkslateblue;
    border: 12px, dotted, goldenrod;
  }
  h1 {
    color: gold;
  }
  h2 {
    color:yellow;
  }
  p {
    color:aquamarine;
  }
  img {
    width: 400px;
    height: 500px
  }